n8n/compliance_audit.json
{
  "name": "Compliance_360_Audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compliance-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6ac43cbf-ff03-4c2b-877f-acff9e17e8a6",
      "name": "Node 1 — Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1968,
        1456
      ],
      "webhookId": "compliance-audit-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8003/check/input",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.body.description }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "5aa8e09f-d404-43e1-b136-855d2e7ced1f",
      "name": "Node 2 — Guardrails Input Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        1456
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a8dc884-8efa-448d-9602-1504bb1aab37",
      "name": "Node 3 — Pass / Reject Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1552,
        1456
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, rejected: true, reason: $('Node 2 — Guardrails Input Check').item.json.reason || 'Submission did not pass validation.' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "88dde959-a896-432d-9eb6-b8be814518ef",
      "name": "Node 3b — Reject Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1552,
        1680
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7bc8d335-715c-4ba6-b261-9a2b5f495819",
      "name": "Gemini Chat Model — Extractor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1312,
        1648
      ]
    },
    {
      "parameters": {
        "prompt": "={{ 'You extract structured fields from a regulatory contract submission. Reply with one JSON object only — no markdown, no triple-backtick code fences, no text before or after the JSON.\\n\\nUse exactly these keys and types:\\n- contract_type (string): MSA | DPA | NDA | SLA | Employment | Vendor | other\\n- parties (array of strings): company names; [] if none\\n- jurisdiction (string): e.g. EU, US Federal, UK; unknown if not stated\\n- sensitive_topics (array of strings): e.g. data_processing, liability, termination; [] if none\\n- key_concerns (array of strings): up to 5 short risk phrases; [] if none\\n- routing_decision (string): escalation | reviewer_queue | auto_file — infer from severity of concerns (escalation = serious GDPR/SOX gaps)\\n\\nContract description:\\n' + $('Node 1 — Webhook Trigger').item.json.body.description + '\\n\\nRespond with JSON only.' }}"
      },
      "id": "351cdd8b-7513-4950-b771-9ba516991146",
      "name": "Node 4 — Extract contract (LLM)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -1360,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = typeof item.text === 'string' ? item.text : typeof item.output === 'string' ? item.output : '';\nlet stripped = String(raw).replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet data = null;\ntry { data = JSON.parse(stripped); } catch (e) {\n  const m = stripped.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { data = JSON.parse(m[0]); } catch (e2) {} }\n}\nfunction arr(v) {\n  if (Array.isArray(v)) return v.slice(0, 8).map(String);\n  if (typeof v === 'string' && v.includes(',')) return v.split(',').map(s => s.trim()).filter(Boolean).slice(0, 8);\n  if (v == null || v === '') return [];\n  return [String(v)];\n}\nif (!data || typeof data !== 'object') {\n  return [{ json: { output: null, extract_error: true, raw_preview: String(raw).slice(0, 500) } }];\n}\nconst rd = ['escalation','reviewer_queue','auto_file'].includes(data.routing_decision) ? data.routing_decision : 'reviewer_queue';\nreturn [{ json: { output: {\n  contract_type: data.contract_type ?? 'other',\n  parties: arr(data.parties),\n  jurisdiction: data.jurisdiction ?? 'unknown',\n  sensitive_topics: arr(data.sensitive_topics),\n  key_concerns: arr(data.key_concerns).slice(0, 5),\n  routing_decision: rd\n} } }];"
      },
      "id": "67e49051-d3ae-4dfd-a819-ddb3ed4a8b9f",
      "name": "Node 4b — Parse extracted JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1632
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "id": "fbf0d124-8579-4335-82d2-8b33ae7c09ea",
      "name": "Gemini Chat Model — Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -960,
        1648
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Contract description:\\n' + $('Node 1 — Webhook Trigger').item.json.body.description + '\\n\\nExtracted fields:\\n' + JSON.stringify($('Node 4b — Parse extracted JSON').item.json) + '\\n\\nFilename: ' + ($('Node 1 — Webhook Trigger').item.json.body.filename || 'submission.txt') }}",
        "options": {
          "systemMessage": "You are a senior compliance analyst for a regulatory audit platform.\n\nEnrich contract audits ONLY via the LangGraph backend. Do NOT call rag_query or doc_analyse directly — LangGraph invokes RAG internally.\n\nTool:\n  langgraph_agent — Call exactly ONCE per run.\n    • audit_id: e.g. aud_<timestamp>\n    • contract_id: e.g. ctr_<timestamp>\n    • clauses: a JSON array with ONE clause object: { id: \"clause_1\", contract_id: <same as contract_id>, section: \"Body\", text: <full contract description from user message>, clause_type: \"other\" }\n    • jurisdiction: from extracted fields output.jurisdiction\n    • contract_type: from extracted fields output.contract_type\n\nAfter langgraph_agent returns, build your answer from its JSON. Prefer report_markdown / findings if present. Produce ONLY a JSON object (no markdown):\n\n{\n  \"contract_type\": string,\n  \"routing_decision\": \"escalation\" | \"reviewer_queue\" | \"auto_file\",\n  \"jurisdiction\": string,\n  \"parties\": [string],\n  \"overall_risk\": \"High\" | \"Medium\" | \"Low\",\n  \"findings\": [{ \"clause_id\", \"regulation_source\", \"regulation_article\", \"verdict\", \"risk\", \"justification\", \"confidence\" }],\n  \"similar_regulations\": [string],\n  \"rag_insight\": string,\n  \"enrichment_notes\": string,\n  \"confidence\": number\n}\n\nrouting_decision: escalation if overall_risk is High; reviewer_queue if Medium; auto_file if Low.\nDo NOT invent regulations beyond LangGraph output.",
          "maxIterations": 6,
          "returnIntermediateSteps": false
        }
      },
      "id": "4729c572-01df-4509-962f-0718ca8c4be3",
      "name": "Node 5 — AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1008,
        1440
      ]
    },
    {
      "parameters": {
        "toolDescription": "Queries the RAG knowledge base for similar regulatory clauses. The 'text' parameter should contain contract clause text.",
        "method": "POST",
        "url": "=http://host.docker.internal:8001/query",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "text"
            }
          ]
        }
      },
      "id": "62f65973-1e4e-4418-be97-3aafcc35fb7a",
      "name": "rag_query",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -1168,
        1824
      ]
    },
    {
      "parameters": {
        "toolDescription": "Segments a PDF or document into contract clauses. Parameters: contract_id, filename, document_b64 (base64-encoded file).",
        "method": "POST",
        "url": "=http://host.docker.internal:8002/analyse",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "contract_id"
            },
            {
              "name": "filename"
            },
            {
              "name": "document_b64"
            }
          ]
        }
      },
      "id": "858064ca-070b-41b1-a8da-dfba6746ad7a",
      "name": "doc_analyse",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -1024,
        1824
      ]
    },
    {
      "parameters": {
        "toolDescription": "Runs the multi-step LangGraph compliance audit. Parameters: audit_id, contract_id, clauses (JSON array), jurisdiction, contract_type.",
        "method": "POST",
        "url": "=http://host.docker.internal:8004/agent/run",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "audit_id"
            },
            {
              "name": "contract_id"
            },
            {
              "name": "clauses"
            },
            {
              "name": "jurisdiction"
            },
            {
              "name": "contract_type"
            }
          ]
        }
      },
      "id": "5845a218-14e9-4070-977a-f8f8a925e43b",
      "name": "langgraph_agent",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -864,
        1760
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "11d0bda3-ef3a-475c-bd53-f5314d8f0c80",
      "name": "Gemini Chat Model — Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        1824
      ]
    },
    {
      "parameters": {
        "prompt": "=Map this LangGraph API response into the compliance triage JSON schema below.\n- overall_risk: use LangGraph overall_risk\n- findings: map each LangGraph finding (contract_clause_id, matched_regulatory_source, matched_regulatory_article, verdict, risk, justification, confidence)\n- routing_decision: High → escalation, Medium → reviewer_queue, Low → auto_file\n- jurisdiction, parties, contract_type: from Node 4b extracted fields (pass them in the same prompt if needed)\n- rag_insight: use report_markdown\n- confidence: average of finding confidences, or max finding confidence\nDo not return unknown placeholders if LangGraph findings are present.\nReport to clean:\n{{ JSON.stringify($('Run LangGraph Audit').item.json) }}"
      },
      "id": "78cd60cb-2bc3-4949-86d3-7ab944fafb34",
      "name": "Node 6 — Final Report LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -704,
        1296
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -576,
        1808
      ],
      "id": "2d859812-c9c3-45d3-93ca-9c687fc18c2c",
      "name": "Node 6b — Parse report JSON"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = typeof item.text === 'string' ? item.text : typeof item.output === 'string' ? item.output : '';\nlet stripped = String(raw).replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet data = null;\ntry { data = JSON.parse(stripped); } catch (e) {\n  const m = stripped.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { data = JSON.parse(m[0]); } catch (e2) {} }\n}\nif (data && data.report && typeof data.report === 'object') data = data.report;\nconst fallback = {\n  contract_type: 'unknown',\n  routing_decision: 'reviewer_queue',\n  jurisdiction: 'unknown',\n  parties: [],\n  overall_risk: 'Medium',\n  findings: [],\n  similar_regulations: [],\n  rag_insight: '',\n  enrichment_notes: 'Could not parse final report JSON.',\n  confidence: 0,\n  parse_error: true\n};\nif (!data || typeof data !== 'object') {\n  return [{ json: { ...fallback, raw_preview: String(raw).slice(0, 800) } }];\n}\nconst risk = data.overall_risk || 'Medium';\nif (!data.routing_decision) {\n  data.routing_decision = risk === 'High' ? 'escalation' : risk === 'Low' ? 'auto_file' : 'reviewer_queue';\n}\nreturn [{ json: data }];"
      },
      "id": "63bf4179-e507-4621-984b-6e21a08cc4b7",
      "name": "Node 6c — Parse report JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        1648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8003/check/output",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "c77f6c41-818a-49da-9a0b-688ffb67f453",
      "name": "Node 7 — Guardrails Output Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        1472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              },
              "id": "2be2d1b1-bbbb-4722-96bf-4373b14efcb5"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2b7a144-523f-47b7-a296-c5bf6c42ba65",
      "name": "Node 7b — Output Pass / Flag Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -192,
        1472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.HUMAN_REVIEW_WEBHOOK_URL || 'http://127.0.0.1:9090').trim().replace(/\\/+$/, '').replace(/\\s+/g, '') + '/review' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "report",
              "value": "={{ JSON.stringify($('Node 6c — Parse report JSON').item.json) }}"
            },
            {
              "name": "flag_reason",
              "value": "={{ $('Node 7 — Guardrails Output Check').item.json.reason }}"
            },
            {
              "name": "requester",
              "value": "={{ $('Node 1 — Webhook Trigger').item.json.body.requester }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "3d5b4b33-94d2-4be9-a512-08fe5a185e2e",
      "name": "Node 7c — Human Review Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        1680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, human_review_required: true, message: 'Automated output checks flagged this submission for human review before it can be released as a final compliance result. The optional human-review webhook may not be configured yet - this response is returned to the Web UI instead.', flag_reason: $('Node 7 — Guardrails Output Check').item.json.reason || null, report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "116787a5-6735-4649-a8f4-a85c27b60598",
      "name": "Node 7d — Respond human review pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16,
        1680
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Node 6c — Parse report JSON').item.json.routing_decision }}",
                    "rightValue": "escalation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "da173325-3a38-4668-a907-fa353819a80c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Node 6c — Parse report JSON').item.json.routing_decision }}",
                    "rightValue": "reviewer_queue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "f95c2059-5137-495d-bb2d-2b3d5f48be00"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "81b5775f-89f0-408e-969d-0a36a5ffa80f",
      "name": "Node 8 — Routing Decision Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        16,
        1472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'escalation', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "9bb2bd02-3106-4b54-83e3-f102a94e916b",
      "name": "Node 8a — Escalation Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        256,
        1360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'reviewer_queue', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "9949a55a-3f8f-4c32-967d-f907e9c3b065",
      "name": "Node 8b — Reviewer Queue Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        256,
        1568
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'auto_file', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "710c5b98-1561-4bbc-834a-a87858f49c16",
      "name": "Node 8c — Auto File Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        1744
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -704,
        1600
      ],
      "id": "10bd6eee-13e0-42e9-bd7d-458cac52aac0",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8004/agent/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audit_id\": \"aud_{{ $execution.id }}\",\n  \"contract_id\": \"ctr_{{ $execution.id }}\",\n  \"clauses\": [\n    {\n      \"id\": \"clause_1\",\n      \"contract_id\": \"ctr_{{ $execution.id }}\",\n      \"section\": \"Body\",\n      \"text\": \"{{ $('Node 1 — Webhook Trigger').item.json.body.description }}\",\n      \"clause_type\": \"other\"\n    }\n  ],\n  \"jurisdiction\": \"{{ $('Node 4b — Parse extracted JSON').item.json.output.jurisdiction }}\",\n  \"contract_type\": \"{{ $('Node 4b — Parse extracted JSON').item.json.output.contract_type }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1024,
        1200
      ],
      "id": "7f6daac0-5872-4fba-bd4e-fec19ee18001",
      "name": "Run LangGraph Audit"
    }
  ],
  "pinData": {},
  "connections": {
    "Node 1 — Webhook Trigger": {
      "main": [
        [
          {
            "node": "Node 2 — Guardrails Input Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 2 — Guardrails Input Check": {
      "main": [
        [
          {
            "node": "Node 3 — Pass / Reject Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 3 — Pass / Reject Router": {
      "main": [
        [
          {
            "node": "Node 4 — Extract contract (LLM)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 3b — Reject Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 4 — Extract contract (LLM)": {
      "main": [
        [
          {
            "node": "Node 4b — Parse extracted JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 4b — Parse extracted JSON": {
      "main": [
        [
          {
            "node": "Run LangGraph Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model — Extractor": {
      "ai_languageModel": [
        [
          {
            "node": "Node 4 — Extract contract (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model — Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Node 5 — AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Node 5 — AI Agent": {
      "main": [
        []
      ]
    },
    "langgraph_agent": {
      "ai_tool": [
        [
          {
            "node": "Node 5 — AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Node 6 — Final Report LLM Chain": {
      "main": [
        [
          {
            "node": "Node 6c — Parse report JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 6c — Parse report JSON": {
      "main": [
        [
          {
            "node": "Node 7 — Guardrails Output Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 7 — Guardrails Output Check": {
      "main": [
        [
          {
            "node": "Node 7b — Output Pass / Flag Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 7b — Output Pass / Flag Router": {
      "main": [
        [
          {
            "node": "Node 8 — Routing Decision Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 7d — Respond human review pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 7c — Human Review Webhook": {
      "main": [
        [
          {
            "node": "Node 7d — Respond human review pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 8 — Routing Decision Router": {
      "main": [
        [
          {
            "node": "Node 8a — Escalation Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 8b — Reviewer Queue Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 8c — Auto File Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Node 6 — Final Report LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run LangGraph Audit": {
      "main": [
        [
          {
            "node": "Node 6 — Final Report LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
