n8n/compliance_audit.json
{
  "name": "Compliance_360_Audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compliance-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0a3e1db1-ebac-423a-a214-9c581c1c0b11",
      "name": "Node 1 — Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1232, 160],
      "webhookId": "compliance-audit-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.GUARDRAILS_URL || 'http://127.0.0.1:8003').trim().replace(/\\/+$/, '').replace(/\\s+/g, '') + '/check/input' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ $json.body.description }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "4e711327-ebdf-4ea7-94fc-0adc359f8f16",
      "name": "Node 2 — Guardrails Input Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1024, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "683cc459-df33-4394-a2d0-14486cd78cbf",
      "name": "Node 3 — Pass / Reject Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-816, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, rejected: true, reason: $('Node 2 — Guardrails Input Check').item.json.reason || 'Submission did not pass validation.' }) }}",
        "options": { "responseCode": 422 }
      },
      "id": "14dcb027-3702-44fd-9573-9e92cab5f366",
      "name": "Node 3b — Reject Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-816, 384]
    },
    {
      "parameters": { "options": {} },
      "id": "88c01f34-70ea-470d-9dc9-e7fde01930ee",
      "name": "Gemini Chat Model — Extractor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-576, 352]
    },
    {
      "parameters": {
        "prompt": "={{ 'You extract structured fields from a regulatory contract submission. Reply with one JSON object only — no markdown, no triple-backtick code fences, no text before or after the JSON.\\n\\nUse exactly these keys and types:\\n- contract_type (string): MSA | DPA | NDA | SLA | Employment | Vendor | other\\n- parties (array of strings): company names; [] if none\\n- jurisdiction (string): e.g. EU, US Federal, UK; unknown if not stated\\n- sensitive_topics (array of strings): e.g. data_processing, liability, termination; [] if none\\n- key_concerns (array of strings): up to 5 short risk phrases; [] if none\\n- routing_decision (string): escalation | reviewer_queue | auto_file — infer from severity of concerns (escalation = serious GDPR/SOX gaps)\\n\\nContract description:\\n' + $('Node 1 — Webhook Trigger').item.json.body.description + '\\n\\nRespond with JSON only.' }}"
      },
      "id": "193e7b9c-088e-4887-b147-dc0e2a7a5d4e",
      "name": "Node 4 — Extract contract (LLM)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [-624, 144]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = typeof item.text === 'string' ? item.text : typeof item.output === 'string' ? item.output : '';\nlet stripped = String(raw).replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet data = null;\ntry { data = JSON.parse(stripped); } catch (e) {\n  const m = stripped.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { data = JSON.parse(m[0]); } catch (e2) {} }\n}\nfunction arr(v) {\n  if (Array.isArray(v)) return v.slice(0, 8).map(String);\n  if (typeof v === 'string' && v.includes(',')) return v.split(',').map(s => s.trim()).filter(Boolean).slice(0, 8);\n  if (v == null || v === '') return [];\n  return [String(v)];\n}\nif (!data || typeof data !== 'object') {\n  return [{ json: { output: null, extract_error: true, raw_preview: String(raw).slice(0, 500) } }];\n}\nconst rd = ['escalation','reviewer_queue','auto_file'].includes(data.routing_decision) ? data.routing_decision : 'reviewer_queue';\nreturn [{ json: { output: {\n  contract_type: data.contract_type ?? 'other',\n  parties: arr(data.parties),\n  jurisdiction: data.jurisdiction ?? 'unknown',\n  sensitive_topics: arr(data.sensitive_topics),\n  key_concerns: arr(data.key_concerns).slice(0, 5),\n  routing_decision: rd\n} } }];"
      },
      "id": "bef12e84-1204-422e-898c-2783465a6784",
      "name": "Node 4b — Parse extracted JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-384, 336]
    },
    {
      "parameters": { "options": {} },
      "id": "76c86d93-db71-439e-8c51-73797ec3c7e1",
      "name": "Gemini Chat Model — Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-224, 352]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Contract description:\\n' + $('Node 1 — Webhook Trigger').item.json.body.description + '\\n\\nExtracted fields:\\n' + JSON.stringify($('Node 4b — Parse extracted JSON').item.json) + '\\n\\nFilename: ' + ($('Node 1 — Webhook Trigger').item.json.body.filename || 'submission.txt') }}",
        "options": {
          "systemMessage": "You are a senior compliance analyst for a regulatory audit platform.\n\nEnrich contract audits ONLY via the LangGraph backend. Do NOT call rag_query or doc_analyse directly — LangGraph invokes RAG internally.\n\nTool:\n  langgraph_agent — Call exactly ONCE per run.\n    • audit_id: e.g. aud_<timestamp>\n    • contract_id: e.g. ctr_<timestamp>\n    • clauses: a JSON array with ONE clause object: { id: \"clause_1\", contract_id: <same as contract_id>, section: \"Body\", text: <full contract description from user message>, clause_type: \"other\" }\n    • jurisdiction: from extracted fields output.jurisdiction\n    • contract_type: from extracted fields output.contract_type\n\nAfter langgraph_agent returns, build your answer from its JSON. Prefer report_markdown / findings if present. Produce ONLY a JSON object (no markdown):\n\n{\n  \"contract_type\": string,\n  \"routing_decision\": \"escalation\" | \"reviewer_queue\" | \"auto_file\",\n  \"jurisdiction\": string,\n  \"parties\": [string],\n  \"overall_risk\": \"High\" | \"Medium\" | \"Low\",\n  \"findings\": [{ \"clause_id\", \"regulation_source\", \"regulation_article\", \"verdict\", \"risk\", \"justification\", \"confidence\" }],\n  \"similar_regulations\": [string],\n  \"rag_insight\": string,\n  \"enrichment_notes\": string,\n  \"confidence\": number\n}\n\nrouting_decision: escalation if overall_risk is High; reviewer_queue if Medium; auto_file if Low.\nDo NOT invent regulations beyond LangGraph output.",
          "maxIterations": 6,
          "returnIntermediateSteps": false
        }
      },
      "id": "d94f1303-a721-4585-a29d-4396d5f89685",
      "name": "Node 5 — AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [-272, 160]
    },
    {
      "parameters": {
        "toolDescription": "Queries the RAG knowledge base for similar regulatory clauses. The 'text' parameter should contain contract clause text.",
        "method": "POST",
        "url": "={{ String($env.RAG_URL || 'http://127.0.0.1:8001').trim().replace(/\\/+$/, '').replace(/\\s+/g, '') + '/query' }}",
        "sendBody": true,
        "parametersBody": { "values": [{ "name": "text" }] }
      },
      "id": "444bd041-7a48-4745-af12-0487574c5e07",
      "name": "rag_query",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [-432, 528]
    },
    {
      "parameters": {
        "toolDescription": "Segments a PDF or document into contract clauses. Parameters: contract_id, filename, document_b64 (base64-encoded file).",
        "method": "POST",
        "url": "={{ String($env.DOC_ANALYZER_URL || 'http://127.0.0.1:8002').trim().replace(/\\/+$/, '').replace(/\\s+/g, '') + '/analyse' }}",
        "sendBody": true,
        "parametersBody": {
          "values": [
            { "name": "contract_id" },
            { "name": "filename" },
            { "name": "document_b64" }
          ]
        }
      },
      "id": "5356eb9e-67cb-4376-976a-cd45f139ef71",
      "name": "doc_analyse",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [-288, 528]
    },
    {
      "parameters": {
        "toolDescription": "Runs the multi-step LangGraph compliance audit. Parameters: audit_id, contract_id, clauses (JSON array), jurisdiction, contract_type.",
        "method": "POST",
        "url": "={{ String($env.LANGGRAPH_URL || 'http://127.0.0.1:8004').trim().replace(/\\/+$/, '').replace(/\\s+/g, '') + '/agent/run' }}",
        "sendBody": true,
        "parametersBody": {
          "values": [
            { "name": "audit_id" },
            { "name": "contract_id" },
            { "name": "clauses" },
            { "name": "jurisdiction" },
            { "name": "contract_type" }
          ]
        }
      },
      "id": "080c8aac-0ff9-4ebc-90e6-f3e9a820399a",
      "name": "langgraph_agent",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [-128, 464]
    },
    {
      "parameters": { "options": {} },
      "id": "5fcb43c2-3e43-46cb-a3d3-df05c33ecb16",
      "name": "Gemini Chat Model — Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [0, 528]
    },
    {
      "parameters": {
        "prompt": "=You normalize an existing compliance triage JSON. You are NOT allowed to substitute demo regulations, tutorial examples, or plausible but fake audit results.\n\nPRESERVE VERBATIM (same semantic values; only fix invalid JSON or types):\n- location → jurisdiction, price_ils → omit, num_rooms → omit\n- routing_decision, overall_risk, parties, findings, similar_regulations, rag_insight, enrichment_notes, confidence\n- routing_decision: escalation | reviewer_queue | auto_file only\n- similar_regulations: keep each element; do not stringify RAG objects into fake titles\n\nFORBIDDEN:\n- Changing jurisdiction, risk level, or swapping routing_decision.\n- Filling empty arrays with fake findings.\n- Replacing rag_insight with unrelated text.\n\nIf there is NO parsable JSON, return placeholders: unknown, null, [], confidence 0.\n\nOutput ONE raw JSON object — no markdown fences, no commentary.\n\nReport to clean:\n{{ JSON.stringify($json.output) }}\n"
      },
      "id": "481fb5a8-5340-41fc-821e-437b52ca3606",
      "name": "Node 6 — Final Report LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [0, 160]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [112, 320],
      "id": "e5673dc9-10cd-4545-81b1-8517bcaff792",
      "name": "Node 6b — Parse report JSON"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = typeof item.text === 'string' ? item.text : typeof item.output === 'string' ? item.output : '';\nlet stripped = String(raw).replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet data = null;\ntry { data = JSON.parse(stripped); } catch (e) {\n  const m = stripped.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { data = JSON.parse(m[0]); } catch (e2) {} }\n}\nif (data && data.report && typeof data.report === 'object') data = data.report;\nconst fallback = {\n  contract_type: 'unknown',\n  routing_decision: 'reviewer_queue',\n  jurisdiction: 'unknown',\n  parties: [],\n  overall_risk: 'Medium',\n  findings: [],\n  similar_regulations: [],\n  rag_insight: '',\n  enrichment_notes: 'Could not parse final report JSON.',\n  confidence: 0,\n  parse_error: true\n};\nif (!data || typeof data !== 'object') {\n  return [{ json: { ...fallback, raw_preview: String(raw).slice(0, 800) } }];\n}\nconst risk = data.overall_risk || 'Medium';\nif (!data.routing_decision) {\n  data.routing_decision = risk === 'High' ? 'escalation' : risk === 'Low' ? 'auto_file' : 'reviewer_queue';\n}\nreturn [{ json: data }];"
      },
      "id": "b03b3755-8483-49ce-b559-5b0bb8fd7043",
      "name": "Node 6c — Parse report JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 352]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.GUARDRAILS_URL || 'http://127.0.0.1:8003').trim().replace(/\\/+$/, '').replace(/\\s+/g, '') + '/check/output' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ JSON.stringify($json) }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "2a45b7eb-3c87-4ba0-84aa-774cdebce481",
      "name": "Node 7 — Guardrails Output Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [352, 176]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              },
              "id": "2be2d1b1-bbbb-4722-96bf-4373b14efcb5"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fb8bcca-23bf-40fa-ad20-5f61883591a3",
      "name": "Node 7b — Output Pass / Flag Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [544, 176]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ String($env.HUMAN_REVIEW_WEBHOOK_URL || 'http://127.0.0.1:9090').trim().replace(/\\/+$/, '').replace(/\\s+/g, '') + '/review' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "report", "value": "={{ JSON.stringify($('Node 6c — Parse report JSON').item.json) }}" },
            { "name": "flag_reason", "value": "={{ $('Node 7 — Guardrails Output Check').item.json.reason }}" },
            { "name": "requester", "value": "={{ $('Node 1 — Webhook Trigger').item.json.body.requester }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "24bbd0cc-c9b2-4e02-8535-83add36dba7e",
      "name": "Node 7c — Human Review Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [544, 384]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, human_review_required: true, message: 'Automated output checks flagged this submission for human review before it can be released as a final compliance result. The optional human-review webhook may not be configured yet - this response is returned to the Web UI instead.', flag_reason: $('Node 7 — Guardrails Output Check').item.json.reason || null, report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "f8a91e2b-4c0d-4f1a-9e2b-1a2b3c4d5e6f",
      "name": "Node 7d — Respond human review pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [752, 384]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Node 6c — Parse report JSON').item.json.routing_decision }}",
                    "rightValue": "escalation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "da173325-3a38-4668-a907-fa353819a80c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Node 6c — Parse report JSON').item.json.routing_decision }}",
                    "rightValue": "reviewer_queue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "f95c2059-5137-495d-bb2d-2b3d5f48be00"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "605f75c2-3404-4a5b-893a-efee5b573ec9",
      "name": "Node 8 — Routing Decision Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [752, 176]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'escalation', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "1c90b55e-3a11-4257-9053-9b65d5d6f3bd",
      "name": "Node 8a — Escalation Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [992, 64]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'reviewer_queue', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "160c8905-c3bd-49fc-b3e6-f27fc756478d",
      "name": "Node 8b — Reviewer Queue Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [992, 272]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'auto_file', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "260d8906-c4be-50fd-a4e7-f38fc856579e",
      "name": "Node 8c — Auto File Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [992, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [0, 352],
      "id": "379cb27d-fee4-4da0-96d4-b5758b36dcba",
      "name": "OpenAI Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "Node 1 — Webhook Trigger": {
      "main": [[{ "node": "Node 2 — Guardrails Input Check", "type": "main", "index": 0 }]]
    },
    "Node 2 — Guardrails Input Check": {
      "main": [[{ "node": "Node 3 — Pass / Reject Router", "type": "main", "index": 0 }]]
    },
    "Node 3 — Pass / Reject Router": {
      "main": [
        [{ "node": "Node 4 — Extract contract (LLM)", "type": "main", "index": 0 }],
        [{ "node": "Node 3b — Reject Response", "type": "main", "index": 0 }]
      ]
    },
    "Node 4 — Extract contract (LLM)": {
      "main": [[{ "node": "Node 4b — Parse extracted JSON", "type": "main", "index": 0 }]]
    },
    "Node 4b — Parse extracted JSON": {
      "main": [[{ "node": "Node 5 — AI Agent", "type": "main", "index": 0 }]]
    },
    "Gemini Chat Model — Extractor": {
      "ai_languageModel": [[{ "node": "Node 4 — Extract contract (LLM)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Gemini Chat Model — Agent": {
      "ai_languageModel": [[{ "node": "Node 5 — AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Node 5 — AI Agent": {
      "main": [[{ "node": "Node 6 — Final Report LLM Chain", "type": "main", "index": 0 }]]
    },
    "langgraph_agent": {
      "ai_tool": [[{ "node": "Node 5 — AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Node 6 — Final Report LLM Chain": {
      "main": [[{ "node": "Node 6c — Parse report JSON", "type": "main", "index": 0 }]]
    },
    "Node 6c — Parse report JSON": {
      "main": [[{ "node": "Node 7 — Guardrails Output Check", "type": "main", "index": 0 }]]
    },
    "Node 7 — Guardrails Output Check": {
      "main": [[{ "node": "Node 7b — Output Pass / Flag Router", "type": "main", "index": 0 }]]
    },
    "Node 7b — Output Pass / Flag Router": {
      "main": [
        [{ "node": "Node 8 — Routing Decision Router", "type": "main", "index": 0 }],
        [{ "node": "Node 7d — Respond human review pending", "type": "main", "index": 0 }]
      ]
    },
    "Node 7c — Human Review Webhook": {
      "main": [[{ "node": "Node 7d — Respond human review pending", "type": "main", "index": 0 }]]
    },
    "Node 8 — Routing Decision Router": {
      "main": [
        [{ "node": "Node 8a — Escalation Response", "type": "main", "index": 0 }],
        [{ "node": "Node 8b — Reviewer Queue Response", "type": "main", "index": 0 }],
        [{ "node": "Node 8c — Auto File Response", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Node 6 — Final Report LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9c5d7521-1968-4878-bcf4-e38d8056fc02",
  "meta": {
    "instanceId": "compliance360-audit-flow"
  },
  "id": "ComplianceAudit360",
  "tags": []
}
